.pageloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fafafa;
  z-index: 999998;
  opacity: 0;
  transition: -webkit-opacity 0.35s ease-out;
  transition: opacity 0.35s ease-out;
  will-change: opacity;
  pointer-events: none;
}
.pageloader.is-active {
  opacity: 1;
}
.pageloader::after,
.pageloader::before {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  border-radius: 100%;
  content: "";
  z-index: 999999;
}
.pageloader::after {
  margin-top: -100px;
  margin-left: -100px;
  width: 200px;
  height: 200px;
  background-color: rgba(61, 112, 178, 0.5);
  border: 3px solid rgba(61, 112, 178, 0.75);
  animation: page-loader-inner 1.5s infinite ease-out;
}
.pageloader::before {
  margin-top: -30px;
  margin-left: -30px;
  width: 60px;
  height: 60px;
  background-color: #3d70b2;
  animation: page-loader-outer 1.5s infinite ease-in;
}
@keyframes page-loader-inner {
  0%,
  40% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes page-loader-outer {
  0% {
    transform: scale(1);
  }
  100%,
  40% {
    transform: scale(0);
    opacity: 0;
  }
}
.infraloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.35s;
}
