#part-1{
  background-image: url('../../../assets/images/signup/cards/type-1-bg.svg');
}
#part-2 {
  background-image: url('../../../assets/images/signup/cards/type-2-bg.svg');
}
#part-3 {
  background-image: url('../../../assets/images/signup/cards/type-3-bg.svg');
}
